<div class="jumbotron text-center">
  <h1>Hello, art nerds!</h1>
  <p>My name is Beverly, and this is my online store for clay figurines.</p>
  <p><%= link_to "Shop Now", items_path, class: "btn btn-primary btn-lg", role: "button" %></p>
</div>
