<div class="thumbnail">
  <div class="caption">
    <p><strong><%= review.title %></strong></p>
    <p>
      <% review.star.times do %>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% end %>
      <% (5 - review.star).times do %>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <% end %>
    </p>
    <p><%= review.review %></p>
    <% if current_user %>
    <%= link_to "Delete this Review", review, method: 'delete' %>
    <%end%>
  </div>
</div>
